<p id="notice"><%= notice %></p>

<h3><%= @genre.name %></h3>


<button class="btn btn-default">
  <%= link_to "Edit Genre", edit_genre_path(@genre.id) %>
</button>

<button class="btn btn-default">
  <%= link_to "Delete Genre", genre_path(@genre.id), method: :delete, data: {  confirm: "Are you sure you want to delete this genre?" } %>
</button>

<button class="btn btn-default">
  <%= link_to "All Genres", genres_path %>
</button>
