<h1><%= @song.title %></h1>

<p>Release Year: <%= @song.release_year %></p>
<p>Genre: <%= @song.genre %></p>
<p>Album: <%= @song.album %></p>
<p>Artist: <%= @song.artist %></p>
<%= image_tag @song.artwork_url %>
<br>
<br>

<button class="btn btn-default">
  <%= link_to "Edit Song", edit_song_path(@song.id) %>
</button>

<button class="btn btn-default">
  <%= link_to "Delete Song", song_path(@song.id), method: :delete, data: {  confirm: "Are you sure you want to delete this song?" } %>
</button>

<button class="btn btn-default">
  <%= link_to "All Songs", songs_path %>
</button>
